<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" ng-if="bot">You are connected to "{{bot}}"</h3>
    <h3 class="panel-title" ng-if="!bot">Not Connected! Use 'connect botname' to connect.</h3>
  </div>
  
  <div class="panel-body" style="min-height:100px;">
    
    	<span ng-repeat="chat in messages" style="display:inline-block; width:100%"><span ng-class="chat.user == 'user' ? 'pull-right user-chat' : 'pull-left bot-chat'">{{chat.message}}</span>
    		<!-- <span ng-if="chat.user=='bot'" class="pull-left bot-chat">{{chat.message}}</span> -->
    	</span>
  </div>

  <div class="panel-footer">
  	<form>
      <div class="form-group">
  		  <input type="text" ng-model="tempMsg" style="width: 100%;padding: 10px 10px;margin-bottom: 10px;">
  		  <button type="submit" ng-click="newMessage(tempMsg)">Enter</button>
      </div>
  	</form>
  </div>
</div>